@keyframes flyload {
	0% {
		transform: translateY(2rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0rem);
		opacity: 1;
	}
}

@keyframes loadright {
	0% {
		opacity: 0;
		transform: translateX(5rem);
	}
	100% {
		opacity: 1;
		transform: translatex(0rem);
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		height: 0rem;
		padding: 0rem;
	}
}