:root {
	--color-azul-plus: #6CA4CF;
	--color-blanco: #fff;
	--color-bog: #09458A;
	--color-duad: #1BB6EC;
	--color-buca: #78CC4C;
	--color-tunja: #FF2B8A;
	--color-medallo: #6F47AC;
	--color-villavo: #FF7901;
	--color-plus-claro:	#9B7064;
	--color-plus-oscuro: #0C0D17;
	--color-rojo: #D40720;
}