@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html { 
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}

button {
	font-family: 'Roboto', sans-serif;
}

/*
@media (max-width: 1360px) { html { font-size: 55%; } }

@media (max-width: 1240px) { html { font-size: 50%; } }

@media (max-width: 1140px) { html { font-size: 45%; } }

@media (max-width: 950px) { html { font-size: 40%; } }

@media (max-width: 850px) { html { font-size: 30%; } }

@media screen and (orientation: portrait)  {

	html { 
		font-size: 62.5%;
	}

}

*/